* {
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    margin: 0%;
  }
  html {
    height: 100%;
    scroll-behavior: smooth;
  }
  
  nav {
    padding:0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
  

  } 
  ul {
    list-style-type: none;
    margin: 0;
    padding:0px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    font-family: Josefin Sans;
    font-size: 24px;
    align-items: center;
    z-index: 4;
  }
  
  
  
  li {
    float: right;
    font-family: Josefin Sans;
   
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;

  }
  
  li a:hover:not(.active) {
    background-color: transparent;
    color: #F2CF59;
  }
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 200px;
    margin-left: 110px;

  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F2CF59;
  }
  .card1:hover {
    box-shadow: 10px 10px 6px 0 #75b975;
    
  }
  .card2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #75b975;
  }
  .card2:hover {
    box-shadow: 10px 10px 6px 0 #F2CF59;
    
  }
  .card3{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:#e5bace ;
  }
  .card3:hover {
    box-shadow: 10px 10px 6px 0 #b0d1d9;
  }
  .container {
    padding: 2px 4px;
  }
 